<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink='personal-data'>Personal Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='qualifications'>Qualifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='experiences'>Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='courses'>Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='skills'>Skills</a>
    </li>
</ul>